<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Moje ankiety</h3>
<table class="table table-striped" th:unless="${ankietyAll.isEmpty()}" border="1">
    <th>Pracownik</th>
    <th>Przedmiot</th>
    <th>Pytania</th>
    <th>Opcje</th>

    <th:block th:each="ankieta : ${ankietyAll}">
        <tr>

            <td>[[${ankieta.pracownik.imie}+' '+${ankieta.pracownik.nazwisko}]]</td>
            <td>[[${ankieta.przedmiot.nazwa}]]</td>
            <td>[[${ankieta.ankietaPytanie}]]</td>
            <td>
                <a th:href="@{/zobaczWyniki(id=${ankieta.id})}">Zobacz wyniki</a>

            </td>

        </tr>
    </th:block>
</table>
</body>
</html>