<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>ASOS</title>
</head>
<body>
<span sec:authorize="isAuthenticated()">
        Dzień dobry, <span sec:authentication="name"></span>
        <a class="dropdown-item" href="#" onclick="document.getElementById('logout').submit()">
            <form th:action="@{/logout}" id="logout" method="post" style="display: none;">
                 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
        Sing out
        </a>
    </span>

<span sec:authorize="isAnonymous()">
                <a href="/login">Sign in</a>
    </span>
<div>
    <b>Kacper</b>
    <ul>
        <li><a href="pokazStudentow">Pokaż studentów</a></li>
        <li><a href="wstawienieOcen">Wstaw oceny</a></li>
        <li><a href="utworzSemestr">Utwórz semestr</a></li>
    </ul>
</div>
<div>
    <b>Piotr</b>
    <ul>
        <li>
            <a href="utworzWniosek">Nowy wniosek - student</a>
            <a href="pokazWnioski">Moje wnioski - student</a>
            <a href="zarzadzajWnioskami">Zarzadzaj wnioskami - pracownik</a>
        </li>
        <li></li>
        <li></li>
    </ul>
</div>
<div>
    <b>Kinga</b>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div sec:authorize="isAuthenticated()">
        Twoje role to:
        <span th:each="role: ${#authentication.getAuthorities()}">
                            <span th:text="${role}"/>
                        </span>
    </div>
</div>
</body>
</html>