<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ASOS</title>
</head>
<body>
<div>
    <b>Kacper</b>
    <ul>
        <li><a href="pokazStudentow">Pokaż studentów</a></li>
        <li><a href="wstawienieOcen">Wstaw oceny</a></li>
        <li><a href="utworzSemestr">Utwórz semestr</a></li>
    </ul>
</div>
<div>
    <b>Piotr</b>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div>
    <b>Kinga</b>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>