<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title><div th:replace="shared/header :: header-css"/>
</head>
<body><div th:replace="shared/header :: header"/>
<h3>Lista pracownikow</h3>
<table class="table table-striped" th:unless="${pracownicy.isEmpty()}" border="1">
    <th>Imie Nazwisko</th>
    <th>Lista przedmiotów</th>
    <th>Pracownik administracyjny</th>
    <th>Opcje</th>

    <th:block th:each="pracownik : ${pracownicy}">
        <tr>

            <td>[[${pracownik.imie}+' '+${pracownik.nazwisko}]]</td>
            <td>
                <th:block th:each="przedmiot : ${pracownik.przedmiotList}">
                    [[${przedmiot.nazwa}]]
                </th:block>
                <th:block th:if="${pracownik.przedmiotList.isEmpty()}">
                    Nie prowadzi zadnego przedmiotu
                </th:block>
            </td>
            <td>[[${pracownik.pracownikAdministracyjny}]]</td>
            <td>
                <a th:href="@{/pracownikSzczegoly(id=${pracownik.id})}" class="btn btn-warning">Edytuj</a>

            </td>

        </tr>
    </th:block>
</table>
<a th:href="@{/pracownikForm}" class="btn btn-warning">Dodaj nowego pracownika</a>
</body>
</html>