<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title><div th:replace="shared/header :: header-css"/>
</head>
<body><div th:replace="shared/header :: header"/>
<h3>Lista lat</h3>
<span th:each="student : ${listaStudentow}">
        <table>
            <tr>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Username</th>
            </tr>
            <tr>
                <td th:text="${student.imie}"></td>
                <td th:text="${student.nazwisko}"></td>
                <td th:text="${student.username}"></td>
            </tr>

        </table>
    </span>
<a th:href="@{/pokazStudentow}" class="btn btn-warning">Wstecz</a>
<a th:href="@{/home}" class="btn btn-warning">Home</a>
<a th:href="@{/wstawienieOcen(idPrzedmiotu=${przedmiot})}" class="btn btn-warning">Oceń</a>
</body>
</html>