<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title><div th:replace="shared/header :: header-css"/>
</head>
<body><div th:replace="shared/header :: header"/>
<h3>Podaj swoje dane</h3>
<form th:action="@{stypendiumForm.html}" th:method="POST" th:object="${stypendium}">
    <input hidden th:field="*{id}" type="text" autofocus="false">
    Srednia ocen: <input th:field="*{sredniaOcen}"  type="number" disabled><br>
    Punkty: <input th:field="*{punkty}" value="4.5" type="number" disabled><br>
    Informacje dodatkowe: <input placeholder="Informacje dodatkowe" th:field="*{informacje}" type="text"><br>
    <button type="submit">Złóż wniosek</button>
</form>
</body>
</html>