<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Title</title><div th:replace="shared/header :: header-css"/>
</head>
<body><div th:replace="shared/header :: header"/>
<h3>Dane stypendium</h3>
<h1>Imie i nazwisko studenta: [[${stypendium.student.imie}+' '+${stypendium.student.nazwisko}]]</h1>
<h5>PESEL: [[${stypendium.student.pesel}]]</h5>
<h5>Data złożenia: [[${#dates.format(stypendium.dataZlozenia, 'dd.MM.yyyy HH:mm')}]]</h5>
<h5>Srednia ocen: [[${stypendium.sredniaOcen}]]</h5>
<h5>Punkty: [[${stypendium.punkty}]]</h5>
<h5>Informacje dodatkowe: [[${stypendium.informacje}]]</h5>
<form th:action="@{dodajPunktyStypendium}" th:method="POST">
    <input hidden name="id" th:value="${stypendium.id}" type="text">
    <input name="punkty" value="0" step="1" type="number"><br>
    <button type="submit" class="btn btn-warning">Zmień liczbę punktów</button>
</form>
<th:block th:if="${stypendium.zatwierdzony eq false}">
    <a th:href="@{/zatwierdzStypendium(id=${stypendium.id})}" class="btn btn-warning">Zatwierdz</a>
    <a th:href="@{/odrzucStypendium(id=${stypendium.id})}" class="btn btn-warning">Odrzuc</a>
</th:block>
<th:block th:if="${stypendium.rozpatrzonyPozytywnie eq true and stypendium.zatwierdzony eq true}">
    <a th:href="@{/odrzucStypendium(id=${stypendium.id})}" class="btn btn-warning">Odrzuc</a>
</th:block>
<th:block th:if="${stypendium.rozpatrzonyPozytywnie eq false and stypendium.zatwierdzony eq true}">
    <a th:href="@{/zatwierdzStypendium(id=${stypendium.id})}" class="btn btn-warning">Zatwierdz</a>
</th:block>
</body>
</html>