<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Podaj swoje dane</h3>
<table th:unless="${stypendia.isEmpty()}">
    <tr>
        <th>Data</th>
        <th>Srednia ocen</th>
        <th>Punkty</th>
        <th>Zatwierdzony</th>
    </tr>
    <tr th:each="stypendium : ${stypendia}">
        <td th:text="${stypendium.dataZlozenia}"></td>
        <td th:text="${stypendium.sredniaOcen}"></td>
        <td th:text="${stypendium.punkty}"></td>
        <td th:text="${stypendium.zatwierdzony}"></td>
    </tr>
</table>
</body>
</html>